@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Sora", sans-serif;
}

.underlineanimation{
    animation-name: underline;
    animation-duration: 4s;
}

@keyframes underline {
    0%{
        width: 0;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}

.about{
    background-image: url('/newAbout.png');
    background-position: center;
    background-repeat: no-repeat;
}

.hero{
    background-image: url('./assets/hero.png');
    background-position: center;
    background-repeat: no-repeat;
}

.dash{
    background-image: url('/dash.png');
    background-position: center;
    background-repeat: no-repeat;
}

.homeDash{
    background-image: url('/start.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gridBg{
    background-image: url('./assets/grid1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}